<template>
  <div id="app">
    <div class="row">
      <div class="display-group">
        <div class="label">Months</div>
        <display-driver v-bind:digits="2" v-bind:number="months" v-bind:leading-zeros=true
                        v-bind:color="'purple'"></display-driver>
      </div>
      <div class="display-group">
        <div class="label">Days</div>
        <display-driver v-bind:digits="2" v-bind:number="days" v-bind:leading-zeros=true
                        v-bind:color="'blue'"></display-driver>
      </div>
      <div class="display-group">
        <div class="label">Hours</div>
        <display-driver v-bind:digits="2" v-bind:number="hours" v-bind:leading-zeros=true
                        v-bind:color="'green'"></display-driver>
      </div>
      <div class="display-group">
        <div class="label">Minutes</div>
        <display-driver v-bind:digits="2" v-bind:number="minutes" v-bind:leading-zeros=true
                        v-bind:color="'orange'"></display-driver>
      </div>
      <div class="display-group">
        <div class="label">Seconds</div>
        <display-driver v-bind:digits="2" v-bind:number="seconds" v-bind:leading-zeros=true
                        v-bind:color="'red'"></display-driver>
      </div>
    </div>
  </div>
</template>

<script>

import {DateTime} from "luxon";
import DisplayDriver from "@/components/DisplayDriver";

export default {
  name: "CountDown",
  components: {
    DisplayDriver,
  },
  data() {
    return {
      time: this.time,
      endTime: this.endTime,
    }
  },
  created() {
    this.time = new Date();
    this.endTime = new DateTime.fromISO( '2021-09-09T00:00:01', {zone: 'Europe/Stockholm'});
  },
  mounted() {
    this.$nextTick(function () {
      this.updateTime();
    })
  },
  updated() {
    this.$nextTick(function () {
      this.updateTime();
    })
  },
  computed: {
    months() {
      return parseInt( this.time.months );
    },
    days() {
      return parseInt( this.time.days );
    },
    hours() {
      return parseInt( this.time.hours );
    },
    minutes() {
      return parseInt( this.time.minutes );
    },
    seconds() {
      return parseInt( this.time.seconds );
    }
  },
  methods: {
    updateTime() {
      setTimeout(() => {
        this.time = this.getDateDiffs();
      }, 1000);
    },
    getDateDiffs() {
      let now = new DateTime.fromJSDate(new Date, {zone: 'Europe/Stockholm'});
      let diff = null;

      if (now >= this.endTime) {
        diff = {
          months: 0,
          days: 0,
          hours: 0,
          minutes: 0,
          seconds: 0
        }
      } else {
        diff = this.endTime.diff(now, ['months', 'days', 'hours', 'minutes', 'seconds']).toObject();
      }

      return diff;
    }
  }
}
</script>

<style>
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@500&display=swap');

:root {
  background-color: #2c3e50;
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  background-color: rgb(10, 10, 10);
  padding: 40px;
  margin-top: 60px;
}

.row {
  display: flex;
  align-items: center;
  justify-content: center;
}

.display-group {
  margin-right: 20px;
}

.display-group:last-of-type {
  margin-right: 0;
}

.label {
  padding: 5px;
  background-color: rgba(255, 255, 255, 0.1);
  font-family: 'Orbitron', sans-serif;
  color: rgba(255, 255, 255, 0.6);
}
</style>